OPENAI_API_KEY=your-openai-api-key
VECTORDB_URL=http://localhost:8085
VECTORDB_TYPE=weaviate
OPENSEARCH_URL=http://localhost:9200
OPENSEARCH_INDEX_PRODUCTS=products
KAFKA_BOOTSTRAP_SERVERS=localhost:9093
